.wizardContent {
    &.wizardStep4 {
        .vehicleDetails {
            width: 20%;
            padding: 2rem;
            background-color: #edf0f5;

            h3 {
                color: #6d6e70;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 2rem;
            }
        }

        .tripDetails {
            width: 40%;
            padding: 1rem;
            background-color: #ffffff;

            h3 {
                color: #6d6e70;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 2rem;
            }
        }

        .discounts {
            width: 20%;
            padding: 1rem;
            background-color: #edf0f5;

            h3 {
                color: #6d6e70;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 2rem;
            }
        }

        .paymentTotalWrap {
            width: 20%;
            padding: 1rem;
            background-color: #ffffff;

            h3 {
                color: #6d6e70;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 2rem;
            }
        }
    }
}