.avaliableVehicleItem {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    text-align: center;

    img {
        max-width: 120px;
    }

    h5 {
        color: #646b7c;
        font-weight: 600;
        font-size: 13px;
        margin: 9px 0;
    }

    .avalibilityDetails {
        display: flex;
        border-top: 1px solid #e8e8e8;

        .avalibilityCount {
            color: #497bcc;            
            font-weight: 600;
            font-size: 10px;
            width: 50%;
            padding: 10px;
            border-right: 1px solid #e8e8e8;

            span {
                font-size: 16px;
            }
        }

        .yardWrap {
            padding: 10px;
            text-align: left;
            font-size: 10px;
            color: #8dadcc;
            font-weight: 600;

            .yardName {
                color: #728799;
            }
        }
    }
}