.summeryWrap{
    .summeryItem{
        margin-bottom: 1.5rem;

        .label {
            display: inline-block;
            width: 100%;
            color: #959394;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 13px;
        }

        .value {
            color: #444d58;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 16px;
            display: inline-block;
            width: 100%;

            .ant-select {
                width: 100%;
                margin-top: 3px;

                .ant-select-selection {
                    border-radius: 0;
                    border: none;
                    background-color: transparent;
                    box-shadow: none;
                }
            }

            .ant-input{
                color: #444d58;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 16px;
                border-radius: 0;
                border: none;
                box-shadow: none;
            }

            .ant-time-picker {
                width: 100%;

                .ant-time-picker-input {
                    border: none;
                    box-shadow: none;
                    color: #444d58;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 16px;
                }
            }
        }

        .ant-collapse {
            border: none;
            border-radius: 0;
            background-color: transparent;

            .ant-collapse-item {
                border-radius: 0;
                border: none;
    
                .ant-collapse-header {
                    border-radius: 0;
                    padding: 0;
                    color: #444d58;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 16px;
                }
            }
        }
    }
}