.availabilityCalenderWrap {
    &.availabilityCalenderListWrap {
        .actionBar {
            background-color: #1e222b;
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .titleWrap {
                display: flex;

                h1 {
                    margin-bottom: 0;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    font-weight: 600;
                }

                .details {
                    margin-left: 2rem;
                    color: #a6a7a9;
                    font-weight: 700;
                }
            }

            .otherActions {
                display: flex;

                .dateWrap {
                    .ant-calendar-picker {
                        max-width: 300px;

                        .ant-calendar-picker-input {
                            background-color: #2b3747;
                            border-color: #2b3747;
                            color: #fff;
                            height: 48px;

                            .ant-calendar-range-picker-input {
                                font-weight: 600;
                            }

                            .ant-calendar-range-picker-separator {
                                color: #fff;
                                line-height: 39px;
                            }

                            .anticon-calendar {
                                color: #fff;
                            }
                        }
                    }
                }

                .vehicleType {
                    margin-left: 1rem;

                    .ant-select {
                        width: 200px;

                        .ant-select-selection {
                            background-color: #2b3747;
                            border-color: #2b3747;
                            height: 48px;

                            .ant-select-selection__rendered {
                                line-height: 45px;

                                .ant-select-selection__placeholder {
                                    color: #fff;
                                    font-weight: 600;
                                }
                            }

                            .ant-select-arrow {
                                color: #fff;
                            }
                        }
                    }
                }

                .btnsWrap {
                    .btn {
                        background-color: #37394d;
                        margin-left: 10px;
                        color: #b3b3b7;
                        font-size: 20px;
                        padding: .5rem 1rem;
    
                        &.active {
                            background-color: #3c4bff;
                            color: #fff; 
                        }
                    }
                }
            }
        }

        .availabilityDetails {
            max-width: 100%;
            flex: 1 1 100%;

            .searchNCalenderDateWrap {
                .searchWrap {
                    max-width: 20%;
                    flex: 1 1 20%;
                    background-color: #e1e1e1;
                    padding: 1rem;

                    .ant-input-search {
                        .ant-input { 
                            background-color: transparent;
                            height: 50px;
                            box-shadow: 0 0 0;
                            border: unset;
                            border-radius: 0;
                            outline: unset;
                            color: #000;
                            font-weight: 600;

                            &::placeholder {
                                color: #76777a;
                            }
                        }
                        
                        .ant-input-suffix {
                            font-size: 22px;
                        }
                    }
                }

                .calenderDatesWrap {
                    max-width: 80%;
                    flex: 1 1 80%;
                    overflow: auto;
                    background-color: #f2f2f2;

                    .calenderDatesInside {
                        width: 100%;
                        display: flex;

                        .dateItem {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 0.5rem 0;
                            width: 90px;
    
                            .date {
                                color: #39495d;
                                font-weight: 600;
                                font-size: 23px;
                            }
    
                            .weekDay {
                                color: #787878;
                                font-weight: 600;
                                font-size: 16px;
                                margin-top: -9px;
                            }
                        }
                    }
                }
            }
        }
    }
}