.partiallyItem {
    width: 100%;
    display: flex;
    padding: 1rem;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    margin-bottom: 1.5rem;

    .vehicleWrap {
        max-width: 20%;
        flex: 1 1 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h3 {
            color: #626b7a;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            margin-top: 0.5rem;
            margin-bottom: 0;
        }
    }

    .details {
        max-width: 80%;
        flex: 1 1 80%;
        padding-left: 2rem;

        .detail {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0;
            border-bottom: 1px solid  #cbcbcb;

            .item {
                color: #565d67;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;

                .btn {
                    text-transform: uppercase;
                    color: #fff;
                    background-color: #253340;
                    font-weight: 600;
                    font-size: 11px;
                    padding: 0.4rem 1.5rem;
                }

                span {
                    display: inline-block;
                    background-repeat: no-repeat;
                    padding-left: 22px;
                    font-weight: 800;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

@media screen and ( max-width : 767px ) { 

    .partiallyItem {
        flex-wrap: wrap;

        .vehicleWrap {
            max-width: 100%;
            flex: 1 1 100%;
        }

        .details {
            max-width: 100%;
            flex: 1 1 100%;
            padding-left: 0;
            margin-top: 1rem;

            .detail {
                flex-wrap: wrap;

                .item {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 0.5rem;

                    .btn {
                        width: 100%;
                        padding: 0.75rem 0;
                        margin: 0;
                        font-size: 15px;
                    }
                }
            }
        }
    }

}