.wizardContent{
    &.wizardStep2{
        .bookingDetailsWrap {
            padding: 3rem 3rem;
            background-color: #edf0f5;
            width: 40%;

            h3 {
                color: #6d6e70;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 2rem;
            }

            .tabWrap{
                margin-bottom: 1rem;

                .nav-link{
                    &.active{
                        background-color: #374d64;
                        border-radius: 3px 3px 0 0;
                        text-transform: uppercase;
                        font-weight: 600;
                        padding: 0.5rem 2.5rem;
                        min-width: 158px;
                    }
                }
                
                .tab-content{
                    background-color: #fff;

                    .tab-pane{
                        padding: 1.5rem;

                        .form-group{

                            .location{
                                .anticon{
                                    width: 10px;
                                    color: #9b9b9c;
                                }
                            }

                            .ant-input {
                                height: 45px;
                                border-color: #ced8e0;
                                background-color: #fafafa;
                            }

                            label {
                                color: #a2a2a2;
                                font-weight: 600;
                                font-size: 12px;
                                display: inline-block;
                                width: 100%;
                            }

                            .ant-time-picker{
                                width: 100%;

                                .ant-time-picker-input{
                                    height: 45px;
                                    border-color: #ced8e0;
                                    background-color: #fafafa;
                                }
                            }
                        }
                    }
                }
            }
        }

        .personalDetailsWrap {
            background-color: #fff;
            width: 40%;
            padding: 3rem;

            h3 {
                color: #6d6e70;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 2rem;
            }
        }

        .reservationSummery {
            background-color: #ebebeb;
            width: 20%;
            padding: 3rem 2rem;

            h3 {
                color: #6d6e70;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 2rem;
            }
        }
    }
}