.addNewClentModal{
    .btn.submitBtn {
        width: 100%;
        color: #fff;
        background-color: #2d81d9;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        padding: 0.75rem 0;
        cursor: pointer;
    }
}